<div id="<%= dom_id reply %>">
    <div class="reply">
      <p class="reply-content"><%= reply.text %></p>
      <p class="reply-author">Replied by <%= reply.user.lastname %>, <%= reply.user.firstname %> on <%= reply.created_at.strftime("%B %d, %Y") %></p>
    </div>
</div>
