<div id="<%= dom_id reply %>" class="mb-4">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= reply.text %></p>
      <p class="card-footer text-muted">
        Replied by <%= reply.user.username %> on <%= reply.created_at.strftime("%B %d, %Y") %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0">Upvotes: <%= reply.votes %></p>
        <p class="mb-0">
          <%= link_to "Reply", new_reply_path(@post), class: "btn btn-success" %>
        </p>
        <p class="mb-0">
          <% if reply.check_user_authorized(current_user) %>
            <%= link_to "Edit this reply", edit_reply_path(reply), class: "btn btn-warning" %>
          <% end %>
        </p>
        <p class="mb-0">
          <% if reply.check_user_authorized(current_user) %>
            <%= button_to "Destroy this reply", @reply, method: :delete, class: "btn btn-danger btn-sm" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
