<p style="color: green"><%= notice %></p>

<%= render @reply %>

<div class="button-row">
  <% if @reply.check_user_authorized(current_user) %>
    <%= link_to "Edit this reply", edit_reply_path(@reply), class: "button edit-button" %>
  <% end %>
  <%= link_to "Back to post", Post.find(@reply.post_id), class: "button back-button"  %>

  <% if @reply.check_user_authorized(current_user) %>
    <%= button_to "Destroy this reply", @reply, method: :delete, class: "button delete-button" %>
  <% end %>
</div>
